.formContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 370px;
  height: 100%;
  background-color: #f7f7f7;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.formOpen {
  transform: translateX(0);
}

.closeButton {
  background-color: #d7d0d0;
  color: #832e2e;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.closeButton:hover {
  background-color: #c6baba;
  transform: scale(1.1);
}

.title {
  color: #832e2e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.inputField,
.selectField {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  appearance: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputField:focus,
.selectField:focus {
  border-color: #832e2e;
  box-shadow: 0 0 5px rgba(131, 46, 46, 0.2);
  outline: none;
}

.textArea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textArea:focus {
  border-color: #832e2e;
  box-shadow: 0 0 5px rgba(131, 46, 46, 0.2);
  outline: none;
}

.saveButton {
  background-color: #832e2e;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.saveButton:hover {
  background-color: #6b1f1f;
  transform: scale(1.02);
}

/* AddRecipeForm.module.css */

.errorText {
  color: #d9534f; /* Bootstrap's Danger Red */
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bold;
}