/* AddRecipeForm.module.css */

.formContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 370px;
  height: 100%;
  background-color: #F1F1F1;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.formOpen {
  transform: translateX(0);
}

.closeButton {
  background: #d7d0d0;
  color: #832e2e;
  border: rgb(51, 49, 49);
  border-radius: 50%;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.title {
  color: #832e2e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.textArea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
}

.saveButton {
  background-color: #832e2e;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #832e2e;
}
.inputField, select.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  appearance: none; 
}