.pageContainer {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.recipesGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  gap: 30px;
  flex: 1;
  
}
