.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 370px;
    height: 100%;
    background-color: #F1F1F1; 
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    direction: rtl; 
    z-index: 1000;
}

.sidebarOpen {
    transform: translateX(0);
}

.closeButton {
    background: #F95454; 
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.title {
    color: #0D92F4;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipeImage {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
    color: #C62E2E; 
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    margin-right: 0;
}

.heartButton{
    border: none;
}

.heartIcon {
    font-size: 30px;
}

.favoriteIcon {
    color: rgb(192, 53, 76);
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ingredientList, .instructionList {
    padding-left: 0;
}

.ingredientList li, .instructionList li {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

.ingredientList li:hover, .instructionList li:hover {
    color: #0D92F4;
    cursor: pointer;
}

.recipeContent ul, .recipeContent ol {
    margin-top: 10px;
}

.sidebar .sectionTitle,
.sidebar ul,
.sidebar ol {
    padding-right: 10px; 
}
